<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- CSS -->
        <!-- ICONS -->
        <script src="https://unpkg.com/akar-icons-fonts"></script>
        <!-- ICONS -->
        <title>Souza Mineiro</title>
    </head>
    <body>
        <header class="c-header">
            <div class="c-header__logo">
                <div class="c-logo"></div>
                <h1 id="c-header__title">Souza Mineiro</h1>
            </div>
            <nav class="c-header__nav">
                <ul class="c-header__navlist">
                    <li><a href="/"><img src="icons/akar-icons_home.svg"
                                alt="icone de home" class="icon"> Home</a></li>
                    <li><a href="/estoque"><img
                                src="icons/akar-icons_shipping-box-01.svg"
                                alt="" class="icon"> Estoque</a></li>
                    <li><a href="#"><img src="icons/akar-icons_statistic-up.svg"
                                alt="" class="icon"> Vendas</a></li>
                    <li><a href="#"><img src="icons/akar-icons_people-group.svg"
                                alt="" class="icon"> Clientes</a></li>
                    <li><a href="#"><img src="icons/akar-icons_shopping-bag.svg"
                                alt="" class="icon"> Compras</a></li>
                </ul>
            </nav>
        </header>
        <section class="c-section">
            <div class="c-section__header">

            </div>

        </section>
    </body>
</html>