<body>
    {{>_popup}}
    <div class="c-section__home">
        <div>
            <span class="c-home--title">Bem-vindo!</span>
        </div>
        
    </div>

    <script src="../js/script.js"></script>
    <script>
        
    </script>
</body>